a {
    cursor: pointer;
}
body {
    background-color: #ecefef;
    padding-top:110px;
}
#nc-loading .logo, #nc-loading .loading {
    margin: auto;
}
#nc-loading .loading {
    margin-top: 20px;
}
.loading {
    background:url(../images/loading.gif) no-repeat;
    width: 32px;
    height: 32px;
}

.btn-success {
    background-color: #138078;
    border-color: #333333;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #0F635D;
    border-color: #333333;
}
.label-success {
    background-color: #138078;
}

