<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header-includes">
	<link rel="stylesheet" type="text/css" media="all"
		href="../webjars/bootstrap/2.3.2/js/bootstrap.css"
		th:href="@{webjars/bootstrap/2.3.2/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css"
		th:href="@{/css/style.css}" />
	<script th:src="@{webjars/jquery/1.9.0/jquery.js}"></script>
	<script th:src="@{webjars/bootstrap/2.3.2/js/bootstrap.js}"></script>

</th:block>
</html>