<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="login" class="row clearfix">
	<div class="span8 columns">
		<div>
			<h3>Login</h3>
			<span> Enter Username and Password to login</span>
		</div>
		<form action="#" th:action="@{/login}" method="post" class="form-horizontal" th:object="${login}">
			<div th:if="${param.error}" class="span8 alert alert-blockalert-errorfadein">
				<div th:if="${param.error}">Invalid username and password.</div>
			</div>
			<div th:if="${param.logout}" class="span8 alert alert-blockalert-errorfadein">
				<div th:if="${param.logout}">You have been logged out.</div>
			</div>
			<div class="span8 columns">
			<div class="row">
				<div class="span4">
					<div class="control-group">
						<label class="control-label" for="username"> User Name : <input
							type="text" name="username" class="span4 focused" th:field="*{username}" />
						</label>
					</div>
					</div>
					<div class="span4">
					<div class="password control-group">
						<label for="password" class="control-label"> Password: <input
							type="password" name="password" class="span4 focused" th:field="*{password}"/>
						</label>
					</div>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="span4">
					<input type="submit" value="Sign In" class="btn green-btn" />
				</div>
			</div>

		</form>
	</div>
	<div class="span2 offset1 columns sidebar">
		<h3>Registration</h3>
		<p>Don't have a trader account yet?</p>
		<p>
			<a id="showRegistrationBtn" href="registration.html" th:href="@{/registration}">Create One</a>
		</p>
	</div>
</div>
</html>