<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="login" class="row clearfix">
    <div class="row">
        <div class="panel panel-default col-md-11">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="#" th:action="@{/login}" method="post" th:object="${login}">
                    <div th:if="${param.error}" class="col-md-8 alert alert-blockalert-errorfadein">
                        <div th:if="${param.error}">Invalid username and password.</div>
                    </div>
                    <div th:if="${param.logout}" class="col-md-8 alert alert-blockalert-errorfadein">
                        <div th:if="${param.logout}">You have been logged out.</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="username" class="control-label">Username:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" id="username" name="username" class="form-control"
                                   th:field="*{username}"/>
                        </div>
                    </div>
                    <div class="password form-group">
                        <div class="col-sm-2">
                            <label for="password" class="control-label">Password:</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" id="password" name="password" class="form-control"
                                   th:field="*{password}"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <p>Don't have a trader account yet?</p>
                <p><a id="showRegistrationBtn" th:href="@{/registration}">Create One</a></p>
            </div>
        </div>
    </div>
</div>
</html>