<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="summary">
    <div id="market-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#market-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#market-carousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div th:include="fragments/marketsummary_fragment :: summary-quote(${marketSummary.topGainers},'Information Technology')" th:remove="tag"></div>
            </div>
            <div class="item">
                <div th:include="fragments/marketsummary_fragment :: summary-quote(${marketSummary.topLosers},'Financial Services')" th:remove="tag"></div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#market-carousel').carousel({
            pause: "none"
        });
        /*]]>*/
    </script>
</th:block>

<th:block th:fragment="summary-central">
    <div>
        <table class="table">
            <tr>
                <th colspan="2">
                    <div class="logo-table" title="NanoTrader"></div>
                </th>
            </tr>
            <tr>
                <td>Index:</td>
                <td id="ms-index" th:text="${marketSummary.tradeStockIndexAverage}"></td>
            </tr>
            <tr>
                <td>Volume:</td>
                <td id="ms-volume" th:text="${marketSummary.tradeStockIndexVolume}"></td>
            </tr>
            <tr>
                <td>Change:</td>
                <td>
                    <span id="ms-change" th:text="${marketSummary.change}"></span><span id="ms-change-arrow"></span>
                </td>
            </tr>
        </table>
    </div>
</th:block>

<th:block th:fragment="summary-quote(quoteList, title)">
	<div>
		<h3><span class="label label-success" th:text="${title}"></span></h3>
		<table class="table">
			<tr>
				<th>Symbol</th>
				<th>Price</th>
				<th>Change</th>
				<th>High</th>
				<th>Low</th>
			</tr>
			<tr th:class="${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} &gt; 0? 'text-success' : 'text-danger'" th:each="quote : ${quoteList}">
				<td><strong th:text="${quote.symbol}"></strong></td>
				<td th:text="${quote.lastPrice}"></td>
				<td th:text="${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} &gt; 0? ${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} +' &uarr;' : ${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} +' &darr;'"></td>
				<td th:text="${quote.high}"></td>
				<td th:text="${quote.low}"></td>
			</tr>
			<tr></tr>
		</table>
	</div>
</th:block>
</html>