<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="summary">
	<div th:if="${marketSummary != null}" class="row show-table">
		<div
			th:include="fragments/marketsummary_fragment :: summary-quote(${marketSummary.topGainers},'IT VEndors')" th:remove="tag"></div>
		<div
			th:include="fragments/marketsummary_fragment :: summary-central" th:remove="tag"></div>	
		<div
			th:include="fragments/marketsummary_fragment :: summary-quote(${marketSummary.topLosers},'FS Organisations')" th:remove="tag"></div>
	</div>
</th:block>
	
	<th:block th:fragment="summary-central">
    <div class="span4 center-table">
        <table class="table">
            <tr>
                <th colspan="2"><div class="logo-table" title="NanoTrader"/></th>
            </tr>
            <tr>
                <td>Index:</td>
                <td id="ms-index" th:text="${marketSummary.tradeStockIndexAverage}"></td>
            </tr>
            <tr>
                <td>Volume:</td>
                <td id="ms-volume" th:text="${marketSummary.tradeStockIndexVolume}"></td>
            </tr>
            <tr>
                <td>Change:</td>
                <td>
                    <span id="ms-change" th:text="${marketSummary.change}"></span><span id="ms-change-arrow"></span>
                </td>
            </tr>
        </table>
    </div>
    </th:block>
     

<th:block th:fragment="summary-quote(quoteList, title)">

	<div class="span4">
		<table class="table">
			<tr>
				<th colspan="5"><span class="icon-custom icon-gains"> </span><strong
					th:text="${title}"></strong></th>
			</tr>
			<tr>
				<th>Symbol</th>
				<th>Price</th>
				<th>Change</th>
				<th>High</th>
				<th>Low</th>
			</tr>
			<tr th:class="${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} &gt; 0? 'text-success caps' : 'text-error caps'" th:each="quote : ${quoteList}">
				<td><strong th:text="${quote.symbol}"></strong></td>
				<td th:text="${quote.lastPrice}"></td>
				<td th:text="${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} &gt; 0? ${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} +' &uarr;' : ${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')} +' &darr;'"></td>
				<td th:text="${quote.high}"></td>
				<td th:text="${quote.low}"></td>
			</tr>
			<tr></tr>
		</table>

	</div>
</th:block>
</html>