<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="company_input">
	<div th:if="${search != null}" class="row span12">
		<div id="quote-control" class="well show-quote-box">
			<form action="#" th:action="@{/trade}" method="post" th:object="${search}"
				class="form-inline">
				<label>Enter partial company name or symbol:</label> <input id="quote-input"
					type="text" maxlength="20" autocomplete="off" class="span3" style="margin: 0 auto;"
					th:field="*{name}" />
				<button id=" getQuoteBtn" class="btn btn-inverse">Get Quotes</button>
			</form>
		</div>
	</div>
</th:block>
<th:block th:fragment="quote_list">
	<div th:if="${quotes != null and not(#lists.isEmpty(quotes))}" class="row span12">
		<div id="quote-result" class="well show-well">
			<div class="title">
				<h3>Quotes</h3>
			</div>
			<div class="table-outer">
			<table id="list-of-quotes" class="table table-striped table-bordered table-condensed">
				
					<tr>
						<th>Company name</th>
						<th>Symbol</th>
						<th>Price</th>
						<th>Change</th>
						<th>Change YTD</th>
						<th>High</th>
						<th>Low</th>
						<th>Quantity</th>
					</tr>
				
				
					<tr class="caps" th:each="quote : ${quotes}">
						<td th:text="${quote.name}"></td>
						<td th:text="${quote.symbol}"></td>
						<td th:text="${quote.lastPrice}"></td>
						<td th:text="${#numbers.formatDecimal(quote.change, 0, 'COMMA', 2, 'POINT')}"></td>
						<td th:text="${quote.changeYTD}"></td>
						<td th:text="${quote.high}"></td>
						<td th:text="${quote.low}"></td>
						<td><form th:id="'form'+${quoteStat.index}" action="#" th:action="@{/order}" method="post" th:object="${order}"
				class="form-inline">
						<input type="hidden" th:value="${quote.symbol}" id="symbol" name="symbol" />
						<input type="hidden" th:value="${quote.lastPrice}" id="price" name="price" />
						<input type="hidden" th:value="BUY" id="orderType" name="orderType" />
						<input type="number" id="quantity-input" class="input-mini" min="1"
							max="9999999999" th:field="*{quantity}" /> <a id="buyBtn" th:attr="onclick='document.getElementById(\'form'+${quoteStat.index}+'\').submit()'" class="btn green-btn">Buy</a>
							</form></td>
					</tr>
				
			</table>
			</div>
		</div>
	</div>
</th:block>


<th:block th:fragment="saved_order">
	<div th:if="${savedOrder != null}" class="row span12">
		<div class="well show-well">
		<div class="title alert alert-success">
			<h3>Order Successful</h3>
		</div>
		<div class="table-outer">
			<table class="table">
				<tbody>
					<tr>
						<th>Type</th>
						<th>Symbol</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Fee</th>
						<th>TOTAL</th>
						
					</tr>
					<tr>
						<td th:text="${savedOrder.orderType}">symbol</td>
						<td th:text="${savedOrder.symbol}">symbol</td>
						<td th:text="${savedOrder.price}">price</td>
						<td th:text="${savedOrder.quantity}">quantity</td>
						<td th:text="${savedOrder.orderFee}">Fee</td>
						<td th:text="${savedOrder.price}*${savedOrder.quantity}+${savedOrder.orderFee}">total</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</th:block>
</html>
