<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="company_input">
	<div class="row span12">
		<div id="quote-control" class="well show-quote-box">
			<form action="#" th:action="@{/trade}" method="post" th:object="${search}"
				class="form-inline">
				<label>Enter partial company name or symbol:</label> <input id="quote-input"
					type="text" maxlength="5" autocomplete="off" class="span3" style="margin: 0 auto;"
					th:field="*{name}" />
				<button id=" getQuoteBtn" class="btn btn-inverse">Get Quotes</button>
			</form>
		</div>
	</div>
</th:block>
<th:block th:fragment="quote_list">
	<div class="row span12">
		<div id="quote-result" class="well show-well">
			<div class="title">
				<h3>Quotes</h3>
			</div>
			<div class="table-outer">
			<table id="list-of-quotes" class="table table-striped table-bordered table-condensed">
				
					<tr>
						<th>Company name</th>
						<th>Symbol</th>
						<th>Price</th>
						<th>Quantity</th>
					</tr>
				
				
					<tr class="caps" th:each="quote : ${quotes}">
						<td th:text="${quote.name}"></td>
						<td th:text="${quote.symbol}"></td>
						<td th:text="${quote.lastPrice}"></td>
						<td><input type="number" id="quantity-input" class="input-mini" min="1"
							max="9999999999" /> <a id="buyBtn" data-toggle="modal" class="btn green-btn">Buy</a></td>
					</tr>
				
			</table>
			</div>
		</div>
	</div>
</th:block>

</html>
