<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Spring Trader</title>
<div th:include="fragments/header_fragment :: header-includes" th:remove="tag"></div>
</head>
<body>
     
	<div sec:authorize="isAuthenticated()" th:include="fragments/navbar_fragment :: navbar"
		class="navbar-fixed-top">
		</div>
		
	<div class="container page">
		<div th:include="fragments/marketsummary_fragment :: summary"></div>

		<div sec:authorize="hasRole('USER')" class="row">
			<div th:if="${portfolio != null}" th:include="fragments/portfolio_fragment :: portfolio-summary" th:remove="tag"></div>
			<div th:if="${portfolioRetrievalError != null}" th:include="fragments/portfolio_fragment :: portfolio-error" th:remove="tag"></div>
			<div th:include="fragments/account_fragment :: user-stats" th:remove="tag"></div>
		</div>

		<div sec:authorize="isAnonymous()">
			<div th:include="fragments/login_fragment :: login"></div>
		</div>
	</div>


</body>
</html>