<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Spring Trader</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../webjars/bootstrap/2.3.2/js/bootstrap.css"
	th:href="@{webjars/bootstrap/2.3.2/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
<script th:src="@{webjars/bootstrap/2.3.2/js/bootstrap.js}"></script>
<script th:src="@{webjars/jquery/1.9.0/jquery.js}"></script>
</head>
<body>
	<div sec:authorize="isAuthenticated()" th:include="fragments/navbar_fragment :: navbar"
		class="navbar-fixed-top"></div>
		
	<div class="container page">
		<div sec:authorize="isAuthenticated()" th:include="fragments/trade_fragment :: company_input"
			th:remove="tag"></div>
			<div sec:authorize="isAuthenticated()" th:include="fragments/trade_fragment :: quote_list"
			th:remove="tag"></div>
	</div>
</body>
</html>
